*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 600px;

}
.container .header{
    background-color: #f69517;
    padding: 15px 40px 30px;
    color: white;
    text-align: center;
    text-transform: capitalize;
}
.container .header h2{
    margin: 10px;
    font-size: 30px;

}
input{
    width: 75%;
    float: left;
    border: none;
    outline: 0;
    padding: 10px;
    font-size: 16px;
}
.addbtn{
    width: 25%;
    float: left;
    border: none;
    padding: 10px;
    background-color: #d9d9d9;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addbtn:hover{
    background-color: #bbb;
}

/* clear floats after the header */
.container .header::after{
    content: '';
    display: table;
    clear: both;
}

.container .tasklist{
    max-height: 300px;
    overflow-y: auto;
}
ul{
    list-style-type: none;
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    font-size: 18px;
    transition: 0.3s;
    user-select: none;


}
ul li:hover{
    background: rgb(205, 204, 204);
}
.closebtn{
    display: none;
    position: absolute;
    right: 15px;

}
ul li:hover .closebtn{
    display: inline-block;
}
ul li .closebtn i:hover{
    color: red;
}
.done{
    background-color:#888 ;
    text-decoration: line-through;
}

.done::before{
    content: "";
    width: 8px;
    height: 16px;
    position: absolute;
    left: 15px;
    top: 8px;
    border-color: green;
    border-width: 0 2px 2px 0 ;
    border-style: solid;
    transform: rotate(45deg);    

}
